<section id="todos">
  {{view Ember.TextField id="new-todo" placeholder="Add an item..."
      valueBinding="name" action="createTodo"}}
  {{#if length}}
    <ul class="todo-list unstyled">
      {{#each itemController="todo"}}
        <li {{bindAttr class=":todo isCompleted:completed isEditing:editing"}}>
          {{view Ember.Checkbox checkedBinding="isCompleted" class="toggle"}}
          {{#link-to "todo.edit" this classNames="name"}}
            {{name}}
          {{/link-to}}
          {{#if dueDate}}
            <span class="due-date">{{dateFormat dueDate format="ll"}}</span>
          {{/if}}
          <div class="right-icon">
            <i {{bindAttr class="priorityIconClass"}}></i>
            <button {{action "delete"}} class="delete"></button>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>Nothing to do, great work!</p>
  {{/if}}
</section>
<footer>
  {{#if anyCompleted}}
    <button id="clear-completed" class="btn"
        {{action "clearCompleted"}}>
      Clear completed ({{numCompleted}})
    </button>
  {{/if}}
  {{#if length}}
    <div id="order-by" class="well pull-right">
      Order by: 
      <a href {{action orderBy "created"}}>created</a> |
      <a href {{action orderBy "priority"}}>priority</a> |
      <a href {{action orderBy "date"}}>due date</a>
    </div>
  {{/if}}
</footer>
