<section id="todos">
  {{view Ember.TextField id="new-todo" placeholder="Add an item..."
      valueBinding="name" action="createTodo"}}
  {{#if length}}
    <ul id="todo-list" class="unstyled">
      {{#each itemController="todo"}}
        <li {{bindAttr class="isCompleted:completed isEditing:editing :todo-item"}}>
          {{#if isEditing}}
            {{view 'edit-todo' classNames="edit" todoBinding="this"}}
          {{else}}
            {{view Ember.Checkbox checkedBinding="isCompleted" class="toggle"}}
            <label {{action "editTodo" on="doubleClick"}}>{{name}}</label>
            <button {{action "removeTodo"}} class="delete"></button>
          {{/if}}
          </li>
      {{/each}}
    </ul>
  {{/if}}
</section>
<footer>
  {{#if anyCompleted}}
    <button id="clear-completed" class="btn"
        {{action "clearCompleted"}}>
      Clear completed ({{numCompleted}})
    </button>
  {{/if}}
</footer>
